@charset "utf-8";
/* CSS Document */

#displayCurrentFloor {
	font-size: 4em;
}
.isInactive {
	display: none;
}

.isActive {
	display: block;
}

.floor{
	color: #DF224F;
	font-size: 2.8em;
}

#resultFetch, #resultPark, #fetchDate, #parkDate {
	color: #DF224F;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
	body {
		font-size: 200%;
	}
	
	.btn {
		font-size: 150%;
	}
	
	#resultPark, #resultFetch {
		font-size: 250%;
	}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	body, .btn {
		font-size: 1em;
	}
}